body {
    background-color: white;
}

.buttonPanel {
    margin: 10px auto;
    border-style: solid;
    border-color: #1b6d85;
    border-width: 2px;
    background-color: white;
}

.rowStyling {
    background-color: #f1f1f1;
    margin: 20px;
}

.rowAddBook {
    padding: 20px;
}

.gridLivros {
    margin-top: 30px;
    box-shadow: 0 0 5px lightgrey;
    transition: all 1000ms;
}

.gridLivros:hover{
    box-shadow: 0 0 12px #f26b3b;
    transition: ease 500ms;
}

.gridLivros:hover > div > #titulo{
    color: #f26b3b;
    transition: ease 200ms;
}



.tableLeitores th, table {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.tableLeitores tr{
    font-size: 18px;
}

.tableLeitores {
    margin-top: 30px;
}

.listaBiblioteca {
    border-radius: 3px;
    padding: 10px;
    height: 130px;
    max-width: 370px;
    margin: 10px;
    box-shadow: 0 0 5px lightgrey;
    transition: all .2s ease-in-out;
}

.listaBiblioteca:hover{
    box-shadow: 0 0 12px #f26b3b;
}

.panel-heading {
    background-color: whitesmoke !important;
}

.panel-body {
    background-color: #fafafa !important;
}

.panel-title {

}

.panel:hover{
    transition: ease-in 200ms;
    box-shadow: 0 0 5px lightgrey;
}