body {
    background-color: white;
}

.buttonPanel {
    margin: 10px auto;
    border-style: solid;
    border-color: #1b6d85;
    border-width: 2px;
    background-color: white;
}

.rowStyling {
    background-color: #f1f1f1;
    margin: 20px;
}

.rowAddBook {
    padding: 20px;
}

.gridLivros {
    margin-top: 20px;
}


.tableLeitores th, table {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.tableLeitores tr{
    font-size: 18px;
}

.tableLeitores {
    margin-top: 30px;
}

.listaBiblioteca {
    margin-bottom: 30px;
}

