body {
    background-color: white;
}

.buttonPanel {
    margin: 10px auto;
    border-style: solid;
    border-color: #1b6d85;
    border-width: 2px;
    background-color: white;
}

.titlePanel {
    color: white;
    padding: 2px;
    margin: auto;
}

.titlePanelDiv {
    background-color: #10336d;
}

.row {
    background-color: #f1f1f1;
    margin: 20px;
}