/*@media screen and (min-width:320px) and (max-width:640px) {
    #imgCapa {
        width: 15%;
    }

    .catalogo-grid{
        margin-top: 50%;  <- comentar
        height: 150px;
    }

}

#btnTop @media screen and (min-width:320px) and (max-width:640px){
    #btnTopo {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 10px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        width: 50px;
    }
}*/

.capa {
    /*overflow: hidden;*/
}


/*.capa:hover img {
    transform: scale(1.5);
}*/

.topicos {
    font-family: "Yu Gothic Light";
    font-size: 25px;
    padding-left: 15px;
}

.catalogo-grid {
    width: 190px;
    height: 450px;
}

/*.btnProcurar {
    margin-top: 1.75%;
}*/

#btnTopo {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
}

#btnTopo:hover {
    background-color: #555;
    box-shadow: 0 0 15px dimgrey;
}

/* Adicionar ao carrinho - no hover da capa mostra o btn*/
.capa .carrinho-overlay {
    position: absolute;
    top: 46%;
    width: 84.4%;
    opacity: 0;
    text-align: center;
}

.capa img {
    display: block;
}

.capa:hover .carrinho-overlay{
    opacity: 1;
    transition: .5s ease;
}

.pesquisaSimples {
    width: 100%;
    position: relative;
    display: flex;
}


/* Lista de favoritos */
.favoritoAction {
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

.favoritoAction:hover {
    color: #d43f3a;
}


.dropdown-listar {
    height: 30px;
    width: 200px;
}

.dropdown-listar:focus {
    box-shadow: 0 0 4px cornflowerblue;
}

.livroField {
    /*background-color: #e5e5e5;
    margin-top: 1%;
    padding: 1%;*/
    border-radius: 3px;
    padding: 10px;
    height: 130px;
    max-width: 370px; /* para scale -> 370 */
    margin: 10px; /* para scale -> 15 */
    box-shadow: 0 0 5px lightgray;
    transition: all .2s ease-in-out;
}

.livroField:hover {
    box-shadow: 0 0 12px lightgray;
    /*transform: scale(1.1);*/
}

/*---------------------------------- */