@media screen and (max-width: 600px){
    #imgCapa {
        width: 15%;
    }

    /*.catalogo-grid{
        margin-top: 50%;
    }*/
}

.capa {
    overflow: hidden;
}

.capa img {
    width: 100%;
    height: 215px;
    transition: 0.5s all ease-in-out;
}

.capa:hover img {
    transform: scale(1.5);
}
