@media screen and (max-width: 600px){
    #imgCapa {
        width: 90%;
    }

    .livro-info {
        text-align: justify;
    }

    .sinopse-content {
        word-spacing: 4px;
        text-align: justify;
        -webkit-text-size-adjust: 80%;
    }

    .imgPerfil {
        margin-left: 4%;
        width: 25px;
        height: 25px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .comentarios {
        margin-top: 4%;
        padding: 3%;
    }
}

.commentSection textarea {
    width: 100%;
}

.commentSection p {
    text-align: right;
}

.imgPerfil {
    margin-left: 1%;
    width:35px;
    height:35px;
    position:relative;
    overflow:hidden;
    border-radius:50%;
}

.comentarios {
    margin-top: 1%;
    padding: 3%;
}

.comentario {
    margin-top: 3%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.commentSection {
    margin-bottom: 2%;
}

.sinopse-content {
    word-spacing: 4px;
    text-align: justify;
}

.sinopse-content, .actions {
    margin-top: 10%;
}

.rating {
    margin-top: 2%;
}

.btn {
    height: 50px;
    line-height: 42px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
}