::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

@media screen and (max-width: 600px){

    .maisRequisitados {
        margin-top: 10%;
    }

    .maisFavoritos {
        margin-top: 10%;
    }

    #imgCapa {
        width: 90%;
    }

    .livro-info {
        text-align: justify;
    }

    .sinopse-content {
        word-spacing: 4px;
        text-align: justify;
        -webkit-text-size-adjust: 80%;
    }

    .imgPerfil {
        margin-left: 4%;
        width: 25px;
        height: 25px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .comentarios {
        margin-top: 4%;
        padding: 3%;
    }

    .livroField {
        background-color: #e5e5e5;
        margin-top: 1%;
        padding: 1%;
    }
}

.favoritoAction {
    color: darkred;
}

.imgCapa {
    width: 150%;
}

.livroField {
    background-color: #e5e5e5;
    margin-top: 1%;
    padding: 1%;
}

.capaLivroFinalizar {
    max-width: 100%;
}

.maisRequisitados {
    margin-top: 3%;
}

.maisFavoritos {
    margin-top: 3%;
}

.catalogo{
    margin-top: 3%;
}


.showMoreComments{
    margin-top: 5%;
    cursor:pointer;
}

.commentSection textarea {
    width: 100%;
}

.commentSection p {
    text-align: right;
}

.imgPerfil {
    margin-left: 1%;
    width:35px;
    height:35px;
    position:relative;
    overflow:hidden;
    border-radius:50%;
}

.comentarios, .bookDetails {
    margin-top: 1%;
    padding: 3%;
}

.comentario {
    margin-top: 3%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.commentSection, .bookDetails {
    margin-bottom: 2%;
}

.sinopse-content {
    word-spacing: 4px;
    text-align: justify;
}

.sinopse-content {
    margin-top: 10%;
}

.rating {
    margin-top: 2%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
}

#imgCapa {
    display: block;
    width: 100%;
    height: auto;
}

.capaDetalhes:hover .overlay {
    opacity: 0.6;
}

.icon {
    color: #cc2525;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-heart:hover {
    color: red;
}

.btnFav {
    /*background-color: red;*/
    color: #a3000b;
    /*height: 50px;
    line-height: 42px;
    width: 50px;*/
    font-size: 20px;

    text-decoration: none;
}

.btnFav:hover {
    /*background-color: #ce0606;*/
    text-decoration: none;
    color: #8a0009;
    /*font-size: 25px;*/
}

.btnNotFav {
    /*background-color: red;*/
    color: #a3000b;
    font-size: 20px;
    text-decoration: none;
}

.btnNotFav:hover {
    /*background-color: #ce0606;*/
    text-decoration: none;
    color: #8a0009;
}

.btnAction {
    height: 50px;
    line-height: 42px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;

}

#wrapper:hover .btnAction{
    color: #1b1e21;
    background-color: #4CAF69;
    background-position:0 -15px;
}

.actions {
    display: flex;
}