.btn-perfil {
    width: 150px;
    border: 2px solid #f26b3b;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
    background-color: white;
}

.btn-perfil:hover{
    color: #f26b3b;
    transition: ease-in 200ms;
}

.imagemPerfil{
    object-fit: cover;
    border-radius: 50%;
}

.perfil{
    padding-top: 20px;
    display: flex;
}

.card{
    box-shadow: 0 0 5px lightgray;
    background-color: #fafafa;
    border-radius: 10px;
}

.dados{
    padding-left: 80px;
}

.glyphicon-edit{
    font-size: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-perfil {
    display: none;
    position: absolute;
    background-color: #fafafa;
    border-radius: 10px;
    min-width: 180px;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-perfil a {
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    display: flex;
}


.dropdown-perfil a:hover {
    text-decoration: none;
    color: #f26b3b;
    transition: ease-in 200ms;
}


.show {display:block;}

.dropbtn{
    color: #f26b3b;
}

.dropbtn:hover{
    color: black;
    text-decoration: none;
}
