html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


@media screen and (max-width: 600px){
    #imgCapa {
        width: 15%;
    }

    .catalogo-grid{
        margin-top: 50%;
    }
}

/*.capa:hover img {
    transform: scale(1.5);
}*/

.topicos {
    font-family: "Yu Gothic Light";
    font-size: 25px;
    padding-left: 15px;
    color: #f26b3b;
}

.sub-titulo {
    padding-left: 15px;
}

.catalogo-grid {
    width: 190px;
    height: 450px;
    margin-top: 1%
}


/* Adicionar ao carrinho - no hover da capa mostra o btn*/
.capa .carrinho-overlay {
    position: absolute;
    top: 45.8%;
    width: 84.4%;
    opacity: 0;
    text-align: center;
}

.capa img {
    display: block;
}

.capa:hover .carrinho-overlay{
    opacity: 1;
    transition: .5s ease;
}

#adicionarCarrinho {
    background-color: #f26b3b;
    font-weight: bold;
    color: white;
    padding: 0.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

#adicionarCarrinho:hover{
    background-color: #555;
    transition: ease-in 200ms;
}

/* Fim adicionar carrinho on hover */

.menuNav{
    color: #f26b3b;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav > .active > a > span, .navbar-inverse .navbar-nav > .active > a > div > span{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #080808;
    transition: ease-in 200ms;
}

.titulo{
    letter-spacing: 1px;
}

.tituloLivro{
    letter-spacing: 1px;
    color: #f26b3b;
}

.carousel-indicators li{
    border: 1px solid #f26b3b;
}

.carousel-indicators li.active{
    background-color: #f26b3b;
}

.tituloLogin{
    color: #f26b3b;
    font-family: "Yu Gothic Light";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 30px;
}

.tituloRegistar{
    color: #f26b3b;
    font-family: "Yu Gothic Light";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 30px;
}

.btnLogin{
    background-color: #f26b3b;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btnLogin:hover{
    color: #222;
}

.divLinkRegistar{
    background-color: white;
    border: 2px solid #f26b3b;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 25px;
}

.linkRegistar{
    color: black;
    text-transform: uppercase;
}

.linkRegistar:hover{
    color: #f26b3b;
    text-decoration: none;
}

.campoRegisto{
    height: 40px;
    font-size: 16px;
}

.dropdownMenuIcon{
    font-size: 20px;
    color: #f26b3b;
}

.dropdownMenuText{
    color: #f26b3b;
}

.dropdown-menu{
    background-color: #222;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a > span, .dropdown-menu > .active > a > i, .dropdown-menu > .active > a:hover{
    background-color: #080808;
    color: white;
}

.dropdown-menu > li > a:hover > i, .dropdown-menu > li > a:hover > span{
    color: black;
}

.dropdown-menu > .active > a:hover > i, .dropdown-menu > .active > a:hover > span{
    color: white;
}

.btnFinalizarRequisicao{
    background-color: white;
}

.btnFinalizarRequisicao:hover{
    color: #f26b3b;
}

.footer{
    background-color: whitesmoke;
    height: auto;
}

.footerBranco{
    color: black;
    font-size: 18px;
}

.footerDesenvolvedores > p{
    color: black;
    margin-left: 140px;
    margin-top: -7px;
}

.footerDesenvolvedores{
    margin-top: -5px;
}

.footerTitulos{
    color: #f26b3b;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Yu Gothic Light";
    font-weight: bold;
}

.footerInfo > p{
    color: white;
}


#btn_carousel i {
    display: none;
}

#btn_carousel {
    color: #1b1e21;
    padding: 5px;
    transition: 0.3s;
    font-size: 16px;
    border: 1px solid #1b1e21;
}

#btn_carousel:hover {
    color: #d43f3a;
    border: 1px solid #d43f3a;
    box-shadow: 0 0 4px grey;
    text-decoration: none;
}

#btn_carousel:hover i {
    display: inline;
}


/* Botão de voltar ao topo da página */

@media screen and (max-width:640px) {

    #btnTopo {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 10px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #f26b3b;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        width: 55px;
    }

    .reqs_cancelar::-webkit-scrollbar
    {
        background-color: #F5F5F5;
        height: 10px;
        display: none;
    }

}


@media screen and (min-width:640px) {

    #btnTopo {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 55px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #f26b3b;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        width: 55px;
    }

    .reqs_cancelar::-webkit-scrollbar
    {
        background-color: #F5F5F5;
        height: 10px;
    }
}

#btnTopo:hover {
    box-shadow: 0 0 15px dimgrey;
    background-color: #222;
}

/* Fim de botão voltar ao topo */


/* slider/scroll requisições para cancelar */

.reqs_cancelar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 15px;
}

/*.reqs_cancelar::-webkit-scrollbar
{
    background-color: #F5F5F5;
    height: 10px;
}*/

.reqs_cancelar::-webkit-scrollbar-thumb
{
    background-color:lightgrey;
    border-radius: 15px;
}

.reqs_cancelar::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

.reqs_cancelar {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

/* requisições cancelar - requisções */
.req_por_levantar {
    /*background-color: #fafafa;*/
    /*border: 1px solid lightgrey;*/
    border-radius: 2px;
    max-width: 370px;
    margin: 5px;
    height: 204px;
    flex-shrink: 0;
    box-shadow: 0 0 5px lightgray;
    transition: all .2s ease-in-out;
}

.req_por_levantar:hover {
    /*transform: scale(1.1);*/
    box-shadow: 5px 5px 5px lightgray;
    border: 1px solid lightgrey;
    /*background-color: #fafafa;*/
}

#cancelarReq {
    /*color: gray;*/
    color: #d43f3a;
    opacity: 0.6;
    font-size: 20px;
}

#cancelarReq:hover {
    /*color: #95999c;*/
    color: #d43f3a;
    opacity: 1;
}

.cancelarReqVerLivrosBtn {
    display: flex;
    width: 29%;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px;
    flex-grow: 1;
    position: relative;
    font-size: 1.5rem;
    font-family: monospace;
    border: 0.125rem solid black;
    color: black;
    background-color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;
    padding: 2px;
}

.cancelarReqVerLivrosBtn:hover {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: black;
    text-decoration: none;
    width: 31%;
    padding-left: 2%;
}



/* Gridview Requisições */
.table-bordered > thead > tr > th > a{ color: #f26b3b}

.pagination > li > a {color: #f26b3b;}
.pagination > li > a:hover {background-color: lightsalmon; border: 1px solid lightsalmon; color: white}

.pagination > .active > a {background-color: #f26b3b; border: 1px solid #f26b3b;}
.pagination > .active > a:hover {background-color: #f26b3a; border: 1px solid #f26b3b;}



#btnTopo {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #f26b3b;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 55px;
}

#btnTopo:hover {
    box-shadow: 0 0 15px dimgrey;
    background-color: #222;
}

